body {
  background: #ffffff;
  padding-top: 50px;
}

.hidden {
  display: none;
}

.nav-up {
  top: -52px;
}

.icon-bar {
  background-color: #000;
}

.navbar-collapse {
  background: #ffffff;
  /*border-bottom: 1px solid #e9e9e9;*/
}

.custom-navbar {
  height: 52px;
  background: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  transition: top 0.2s ease-in-out;
}

.custom-logo-text {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: #363636 !important;
}

.custom-logo-text:hover {
  font-size: 2.05em;
  transition: 0.1s ease-in-out;
}

.custom-navbar-text li>a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: #747474;
}

.custom-navbar-text li>a:hover {
  background-color: #FFF !important;
  border-bottom: 1px solid #222 !important;
  /*transition: border-bottom 0.8s ease !important;*/
}

.custom-navbar-text li>a:focus {
  background-color: #FFF !important;
  border-bottom: 1px solid #222 !important;
}

.custom-cat-text {
  margin: auto;
  text-align: center;
  color: #000;
  font-size: 2em;
  padding: 2em;
}

.custom-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  /*color: #000;*/
  padding-top: 2em;
  text-align: justify;
}

.custom-form {
  margin-top: 2em;
}

.custom-results ul {
  font-size: 1.2em;
  /*color: #000;*/
  list-style: none;
}
